In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ENTRENAMIENTO DE MODELOS

In [13]:
df_resultado = pd.read_parquet('../data/processed/completo_df_v2.parquet')
print(df_resultado.head())
print(df_resultado.info())

   COD_PERSONA  COD_ALUMNO SEXO PER_INGRESO ESTADO_CIVIL  \
0         7085       14334    M     2011-01            S
1         7085       14334    M     2011-01            S
2         7085       14334    M     2011-01            S
3         7085       14334    M     2011-01            S
4         7085       14334    M     2011-01            S

                  TIPO_COLEGIO  PTJE_INGRESO    ESTADO  SEM_CURSADOS  \
0  Pública otro Sector Público         120.0  Separado            16
1  Pública otro Sector Público         120.0  Separado            16
2  Pública otro Sector Público         120.0  Separado            16
3  Pública otro Sector Público         120.0  Separado            16
4  Pública otro Sector Público         120.0  Separado            16

   CANT_RESERVAS  ... NOTA_MEDIAN_CLUSTER_HIST NOTA_Q1_CLUSTER_HIST  \
0              0  ...                      0.0                  0.0
1              0  ...                      0.0                  0.0
2              0  ...                      0.0                  0.0
3              0  ...                      0.0                  0.0
4              0  ...                     14.2                 14.2

  NOTA_Q3_CLUSTER_HIST  ASIST_PROM_CLUSTER_HIST CRED_APROB_CLUSTER_HIST  \
0                  0.0                      0.0                     0.0
1                  0.0                      0.0                     0.0
2                  0.0                      0.0                     0.0
3                  0.0                      0.0                     0.0
4                 14.2                      0.7                     4.0

   HRS_INASISTENCIA_ACUM  HRS_INASISTENCIA_ACUM_PASADO_x  \
0                     24                             0.0
1                     30                            24.0
2                     30                            30.0
3                     33                            30.0
4                     39                            33.0

  HRS_INASISTENCIA_PERIODO  HRS_INASISTENCIA_ACUM_PASADO_y ESTADO_PASADO
0                       33                            30.0       Regular
1                       33                            30.0       Regular
2                       33                            30.0       Regular
3                       33                            30.0       Regular
4                       36                            57.0      Separado

[5 rows x 57 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27002 entries, 0 to 27001
Data columns (total 57 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   COD_PERSONA                     27002 non-null  int64
 1   COD_ALUMNO                      27002 non-null  int64
 2   SEXO                            27002 non-null  object
 3   PER_INGRESO                     27002 non-null  object
 4   ESTADO_CIVIL                    27002 non-null  object
 5   TIPO_COLEGIO                    27002 non-null  object
 6   PTJE_INGRESO                    27002 non-null  float64
 7   ESTADO                          27002 non-null  object
 8   SEM_CURSADOS                    27002 non-null  int64
 9   CANT_RESERVAS                   27002 non-null  int64
 10  PER_MATRICULA                   27002 non-null  object
 11  COD_CURSO                       27002 non-null  object
 12  CURSO                           27002 non-null  object
 13  CREDITOS                        27002 non-null  int64
 14  TIPO_CURSO                      27002 non-null  object
 15  COD_PLAN                        27002 non-null  int64
 16  COD_GRUPO                       27002 non-null  int64
 17  GRUPO                           27002 non-null  object
 18  NOTA                            27002 non-null  float64
 19  APROBO                          27002 non-null  object
 20  HRS_INASISTENCIA                27002 non-null  int64
 21  HRS_CURSO                       27002 non-null  int64
 22  PRCTJE_INASISTENCIA             27002 non-null  int64
 23  PONDERADO                       27002 non-null  float64
 24  CRED_GRADUACION                 27002 non-null  int64
 25  BECA_VIGENTE                    27002 non-null  int64
 26  FECHA_NACIMIENTO                27002 non-null  object
 27  POBREZA_RES                     27002 non-null  float64
 28  POBREZA_PRO                     27002 non-null  float64
 29  TIPO_CICLO                      27002 non-null  object
 30  CODIGO_x                        27002 non-null  object
 31  SEM                             27002 non-null  int64
 32  NIVEL_CURSO                     27002 non-null  int64
 33  FAMILIA                         27002 non-null  object
 34  CODIGO_y                        27002 non-null  object
 35  CLUSTER_CURSO                   27002 non-null  int32
 36  PROM_POND_HIST                  27002 non-null  float64
 37  NOTA_MAX_HIST                   27002 non-null  float64
 38  NOTA_MIN_HIST                   27002 non-null  float64
 39  NOTA_MEDIAN_HIST                27002 non-null  float64
 40  NOTA_Q1_HIST                    27002 non-null  float64
 41  NOTA_Q3_HIST                    27002 non-null  float64
 42  ASIST_PROM_HIST                 27002 non-null  float64
 43  CRED_APROB_HIST                 27002 non-null  int64
 44  PROM_POND_CLUSTER_HIST          27002 non-null  float64
 45  NOTA_MAX_CLUSTER_HIST           27002 non-null  float64
 46  NOTA_MIN_CLUSTER_HIST           27002 non-null  float64
 47  NOTA_MEDIAN_CLUSTER_HIST        27002 non-null  float64
 48  NOTA_Q1_CLUSTER_HIST            27002 non-null  float64
 49  NOTA_Q3_CLUSTER_HIST            27002 non-null  float64
 50  ASIST_PROM_CLUSTER_HIST         27002 non-null  float64
 51  CRED_APROB_CLUSTER_HIST         27002 non-null  float64
 52  HRS_INASISTENCIA_ACUM           27002 non-null  int64
 53  HRS_INASISTENCIA_ACUM_PASADO_x  27002 non-null  float64
 54  HRS_INASISTENCIA_PERIODO        27002 non-null  int64
 55  HRS_INASISTENCIA_ACUM_PASADO_y  27002 non-null  float64
 56  ESTADO_PASADO                   27002 non-null  object
dtypes: float64(22), int32(1), int64(17), object(17)
memory usage: 11.6+ MB
None

In [14]:
df_resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27002 entries, 0 to 27001
Data columns (total 57 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   COD_PERSONA                     27002 non-null  int64
 1   COD_ALUMNO                      27002 non-null  int64
 2   SEXO                            27002 non-null  object
 3   PER_INGRESO                     27002 non-null  object
 4   ESTADO_CIVIL                    27002 non-null  object
 5   TIPO_COLEGIO                    27002 non-null  object
 6   PTJE_INGRESO                    27002 non-null  float64
 7   ESTADO                          27002 non-null  object
 8   SEM_CURSADOS                    27002 non-null  int64
 9   CANT_RESERVAS                   27002 non-null  int64
 10  PER_MATRICULA                   27002 non-null  object
 11  COD_CURSO                       27002 non-null  object
 12  CURSO                           27002 non-null  object
 13  CREDITOS                        27002 non-null  int64
 14  TIPO_CURSO                      27002 non-null  object
 15  COD_PLAN                        27002 non-null  int64
 16  COD_GRUPO                       27002 non-null  int64
 17  GRUPO                           27002 non-null  object
 18  NOTA                            27002 non-null  float64
 19  APROBO                          27002 non-null  object
 20  HRS_INASISTENCIA                27002 non-null  int64
 21  HRS_CURSO                       27002 non-null  int64
 22  PRCTJE_INASISTENCIA             27002 non-null  int64
 23  PONDERADO                       27002 non-null  float64
 24  CRED_GRADUACION                 27002 non-null  int64
 25  BECA_VIGENTE                    27002 non-null  int64
 26  FECHA_NACIMIENTO                27002 non-null  object
 27  POBREZA_RES                     27002 non-null  float64
 28  POBREZA_PRO                     27002 non-null  float64
 29  TIPO_CICLO                      27002 non-null  object
 30  CODIGO_x                        27002 non-null  object
 31  SEM                             27002 non-null  int64
 32  NIVEL_CURSO                     27002 non-null  int64
 33  FAMILIA                         27002 non-null  object
 34  CODIGO_y                        27002 non-null  object
 35  CLUSTER_CURSO                   27002 non-null  int32
 36  PROM_POND_HIST                  27002 non-null  float64
 37  NOTA_MAX_HIST                   27002 non-null  float64
 38  NOTA_MIN_HIST                   27002 non-null  float64
 39  NOTA_MEDIAN_HIST                27002 non-null  float64
 40  NOTA_Q1_HIST                    27002 non-null  float64
 41  NOTA_Q3_HIST                    27002 non-null  float64
 42  ASIST_PROM_HIST                 27002 non-null  float64
 43  CRED_APROB_HIST                 27002 non-null  int64
 44  PROM_POND_CLUSTER_HIST          27002 non-null  float64
 45  NOTA_MAX_CLUSTER_HIST           27002 non-null  float64
 46  NOTA_MIN_CLUSTER_HIST           27002 non-null  float64
 47  NOTA_MEDIAN_CLUSTER_HIST        27002 non-null  float64
 48  NOTA_Q1_CLUSTER_HIST            27002 non-null  float64
 49  NOTA_Q3_CLUSTER_HIST            27002 non-null  float64
 50  ASIST_PROM_CLUSTER_HIST         27002 non-null  float64
 51  CRED_APROB_CLUSTER_HIST         27002 non-null  float64
 52  HRS_INASISTENCIA_ACUM           27002 non-null  int64
 53  HRS_INASISTENCIA_ACUM_PASADO_x  27002 non-null  float64
 54  HRS_INASISTENCIA_PERIODO        27002 non-null  int64
 55  HRS_INASISTENCIA_ACUM_PASADO_y  27002 non-null  float64
 56  ESTADO_PASADO                   27002 non-null  object
dtypes: float64(22), int32(1), int64(17), object(17)
memory usage: 11.6+ MB

In [26]:
df_reducido = df_resultado.drop([
    'HRS_INASISTENCIA_ACUM_PASADO_x',
    'COD_PERSONA',
    'COD_ALUMNO', 
    'ESTADO',
    'CURSO',
    'COD_PLAN',
    'COD_GRUPO',
    'GRUPO',
    'APROBO',
    'HRS_INASISTENCIA',
    'PRCTJE_INASISTENCIA',
    'CRED_GRADUACION',
    'CODIGO_x',
    'HRS_INASISTENCIA_ACUM',
    'HRS_INASISTENCIA_ACUM_PASADO_x',
    'HRS_INASISTENCIA_PERIODO'
], axis=1)

In [27]:
df_reducido

,SEXO,PER_INGRESO,ESTADO_CIVIL,TIPO_COLEGIO,PTJE_INGRESO,SEM_CURSADOS,CANT_RESERVAS,PER_MATRICULA,COD_CURSO,CREDITOS,...,PROM_POND_CLUSTER_HIST,NOTA_MAX_CLUSTER_HIST,NOTA_MIN_CLUSTER_HIST,NOTA_MEDIAN_CLUSTER_HIST,NOTA_Q1_CLUSTER_HIST,NOTA_Q3_CLUSTER_HIST,ASIST_PROM_CLUSTER_HIST,CRED_APROB_CLUSTER_HIST,HRS_INASISTENCIA_ACUM_PASADO_y,ESTADO_PASADO
0,M,2011-01,S,Pública otro Sector Público,120.0,16,0,2011-01,CS113,4,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,Regular
1,M,2011-01,S,Pública otro Sector Público,120.0,16,0,2011-01,CS100,3,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,Regular
2,M,2011-01,S,Pública otro Sector Público,120.0,16,0,2011-01,CS211,4,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,Regular
3,M,2011-01,S,Pública otro Sector Público,120.0,16,0,2011-01,FG106,2,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,Regular
4,M,2011-01,S,Pública otro Sector Público,120.0,16,0,2011-02,CS210,4,...,13.0414,14.2,14.2,14.2,14.2,14.2,0.7,4.0,57.0,Separado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,M,2020-02,S,Privada Parroquial,170.0,1,0,2020-02,CS111,4,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Separado
26998,M,2020-02,S,Privada Parroquial,170.0,1,0,2020-02,MA100,5,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Separado
26999,M,2020-02,S,Privada Parroquial,170.0,1,0,2020-02,FG103,3,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Separado
27000,M,2020-02,S,Privada Parroquial,170.0,1,0,2020-02,FG102,3,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Separado
27001,M,2020-02,S,Privada Parroquial,170.0,1,0,2020-02,FG101,3,...,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Separado

In [34]:
df_reducido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27002 entries, 0 to 27001
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SEXO                            27002 non-null  object
 1   PER_INGRESO                     27002 non-null  object
 2   ESTADO_CIVIL                    27002 non-null  object
 3   TIPO_COLEGIO                    27002 non-null  object
 4   PTJE_INGRESO                    27002 non-null  float64
 5   SEM_CURSADOS                    27002 non-null  int64
 6   CANT_RESERVAS                   27002 non-null  int64
 7   PER_MATRICULA                   27002 non-null  object
 8   COD_CURSO                       27002 non-null  object
 9   CREDITOS                        27002 non-null  int64
 10  TIPO_CURSO                      27002 non-null  object
 11  NOTA                            27002 non-null  float64
 12  HRS_CURSO                       27002 non-null  int64
 13  PONDERADO                       27002 non-null  float64
 14  BECA_VIGENTE                    27002 non-null  int64
 15  FECHA_NACIMIENTO                27002 non-null  object
 16  POBREZA_RES                     27002 non-null  float64
 17  POBREZA_PRO                     27002 non-null  float64
 18  TIPO_CICLO                      27002 non-null  object
 19  SEM                             27002 non-null  int64
 20  NIVEL_CURSO                     27002 non-null  int64
 21  FAMILIA                         27002 non-null  object
 22  CODIGO_y                        27002 non-null  object
 23  CLUSTER_CURSO                   27002 non-null  int32
 24  PROM_POND_HIST                  27002 non-null  float64
 25  NOTA_MAX_HIST                   27002 non-null  float64
 26  NOTA_MIN_HIST                   27002 non-null  float64
 27  NOTA_MEDIAN_HIST                27002 non-null  float64
 28  NOTA_Q1_HIST                    27002 non-null  float64
 29  NOTA_Q3_HIST                    27002 non-null  float64
 30  ASIST_PROM_HIST                 27002 non-null  float64
 31  CRED_APROB_HIST                 27002 non-null  int64
 32  PROM_POND_CLUSTER_HIST          27002 non-null  float64
 33  NOTA_MAX_CLUSTER_HIST           27002 non-null  float64
 34  NOTA_MIN_CLUSTER_HIST           27002 non-null  float64
 35  NOTA_MEDIAN_CLUSTER_HIST        27002 non-null  float64
 36  NOTA_Q1_CLUSTER_HIST            27002 non-null  float64
 37  NOTA_Q3_CLUSTER_HIST            27002 non-null  float64
 38  ASIST_PROM_CLUSTER_HIST         27002 non-null  float64
 39  CRED_APROB_CLUSTER_HIST         27002 non-null  float64
 40  HRS_INASISTENCIA_ACUM_PASADO_y  27002 non-null  float64
 41  ESTADO_PASADO                   27002 non-null  object
dtypes: float64(21), int32(1), int64(8), object(12)
memory usage: 8.5+ MB

In [38]:
df_reducido['TIPO_COLEGIO'].unique()

array(['Pública otro Sector Público', 'Privada Particular',
       'Pública Sector Educación', 'Pública en Convenio',
       'Privada Parroquial', 'Fuera del Perú', 'Privada Fiscalizada',
       'Privada Instituciones Benéficas'], dtype=object)

In [36]:
import pandas as pd

def analizar_categoricas(df, top_n=5, verbose=True):
    """
    Analiza la cardinalidad y distribución de las variables categóricas de un DataFrame.

    Parámetros:
    - df: DataFrame de entrada
    - top_n: número de categorías más frecuentes a mostrar por variable
    - verbose: si True, muestra detalles por pantalla
    
    Retorna:
    - resumen_df: DataFrame con información de cardinalidad y frecuencias
    """
    # Detectar columnas categóricas
    cat_cols = df.select_dtypes(include=["object"]).columns.tolist()
    resumen = []

    for col in cat_cols:
        n_unicos = df[col].nunique()
        n_nulls = df[col].isna().sum()
        mas_frecuentes = df[col].value_counts(normalize=True).head(top_n)
        top_categorias = mas_frecuentes.index.tolist()
        top_pct = mas_frecuentes.sum() * 100
        valor_mas_frec = mas_frecuentes.index[0]
        freq_mas_frec = mas_frecuentes.iloc[0] * 100

        resumen.append({
            "columna": col,
            "cardinalidad": n_unicos,
            "nulos": n_nulls,
            "valor_mas_frec": valor_mas_frec,
            "freq_%_valor_mas_frec": round(freq_mas_frec, 2),
            f"%_{top_n}_categorias": round(top_pct, 2),
            "categorias_mas_frecuentes": ", ".join(top_categorias)
        })
    
    resumen_df = pd.DataFrame(resumen).sort_values(by="cardinalidad", ascending=False)

    if verbose:
        print(f"\n🔍 Columnas categóricas encontradas: {len(cat_cols)}\n")
        display(resumen_df)

    return resumen_df


# --- USO ---
resumen_categoricas = analizar_categoricas(df_reducido)

🔍 Columnas categóricas encontradas: 12

,columna,cardinalidad,nulos,valor_mas_frec,freq_%_valor_mas_frec,%_5_categorias,categorias_mas_frecuentes
7,FECHA_NACIMIENTO,985,0,1995-04-24,0.58,2.69,"1995-04-24, 1992-08-15, 1996-07-20, 1998-01-13..."
5,COD_CURSO,71,0,MA100,7.01,25.22,"MA100, CS1D1, FG101, FG102, CS112"
10,CODIGO_y,71,0,MA100,7.01,25.22,"MA100, CS1D1, FG101, FG102, CS112"
4,PER_MATRICULA,29,0,2020-01,6.98,31.88,"2020-01, 2019-01, 2020-02, 2018-01, 2019-02"
1,PER_INGRESO,20,0,2011-01,11.17,46.89,"2011-01, 2014-01, 2016-01, 2013-01, 2017-01"
3,TIPO_COLEGIO,8,0,Privada Particular,63.21,99.16,"Privada Particular, Pública Sector Educación, ..."
11,ESTADO_PASADO,7,0,Regular,47.32,96.29,"Regular, Separado, Egresado, Abandono, Retirado"
9,FAMILIA,6,0,CS,48.93,99.98,"CS, FG, MA, ET, CB"
6,TIPO_CURSO,3,0,O,94.65,100.00,"O, EH, EP"
0,SEXO,2,0,M,83.60,100.00,"M, F"
2,ESTADO_CIVIL,2,0,S,99.88,100.00,"S, C"
8,TIPO_CICLO,2,0,Regular,96.05,100.00,"Regular, Verano"

In [45]:
import pandas as pd

def codificar_tipo_colegio(df):
    """
    Codifica la columna TIPO_COLEGIO con valores numéricos fijos.
    """
    mapa_colegio = {
        'Pública otro Sector Público': 0,
        'Pública Sector Educación': 1,
        'Pública en Convenio': 2,
        'Privada Particular': 3,
        'Privada Parroquial': 4,
        'Privada Fiscalizada': 5,
        'Privada Instituciones Benéficas': 6,
        'Fuera del Perú': 7
    }
    
    df["TIPO_COLEGIO_COD"] = df["TIPO_COLEGIO"].map(mapa_colegio)
    return df


def convertir_periodo_a_num(periodo_str):
    """
    Convierte un valor tipo 'YYYY-0X' en un número continuo.
    Ejemplo: 2019-0 -> 2019, 2019-1 -> 2019.2, 2019-2 -> 2019.6
    """
    if not isinstance(periodo_str, str) or '-' not in periodo_str:
        return None
    try:
        año, ciclo = periodo_str.split('-')
        año = int(año)
        ciclo = int(ciclo)
        if ciclo == 0:
            return año
        elif ciclo == 1:
            return año + 0.2
        elif ciclo == 2:
            return año + 0.6
    except:
        return None


def procesar_periodos(df):
    """
    Aplica la conversión de periodo a número en PER_INGRESO y PER_MATRICULA.
    """
    df["PER_INGRESO_NUM"] = df["PER_INGRESO"].apply(convertir_periodo_a_num)
    df["PER_MATRICULA_NUM"] = df["PER_MATRICULA"].apply(convertir_periodo_a_num)
    return df


# === USO ===
df = codificar_tipo_colegio(df_reducido)
df = procesar_periodos(df)

# Verificar resultados
print(df[["TIPO_COLEGIO", "TIPO_COLEGIO_COD", "PER_INGRESO", "PER_INGRESO_NUM", "PER_MATRICULA", "PER_MATRICULA_NUM"]].head())

                  TIPO_COLEGIO  TIPO_COLEGIO_COD PER_INGRESO  PER_INGRESO_NUM  \
0  Pública otro Sector Público                 0     2011-01           2011.2
1  Pública otro Sector Público                 0     2011-01           2011.2
2  Pública otro Sector Público                 0     2011-01           2011.2
3  Pública otro Sector Público                 0     2011-01           2011.2
4  Pública otro Sector Público                 0     2011-01           2011.2

  PER_MATRICULA  PER_MATRICULA_NUM
0       2011-01             2011.2
1       2011-01             2011.2
2       2011-01             2011.2
3       2011-01             2011.2
4       2011-02             2011.6

In [61]:
df = df.drop(['PER_INGRESO','PER_MATRICULA','PER_NUM','TIPO_COLEGIO'], axis=1, errors='ignore')

In [62]:
df

,SEXO,ESTADO_CIVIL,PTJE_INGRESO,SEM_CURSADOS,CANT_RESERVAS,COD_CURSO,CREDITOS,TIPO_CURSO,NOTA,HRS_CURSO,...,NOTA_MEDIAN_CLUSTER_HIST,NOTA_Q1_CLUSTER_HIST,NOTA_Q3_CLUSTER_HIST,ASIST_PROM_CLUSTER_HIST,CRED_APROB_CLUSTER_HIST,HRS_INASISTENCIA_ACUM_PASADO_y,ESTADO_PASADO,TIPO_COLEGIO_COD,PER_INGRESO_NUM,PER_MATRICULA_NUM
0,M,S,120.0,16,0,CS113,4,O,14.20,6,...,0.0,0.0,0.0,0.0,0.0,30.0,Regular,0,2011.2,2011.2
1,M,S,120.0,16,0,CS100,3,O,12.58,4,...,0.0,0.0,0.0,0.0,0.0,30.0,Regular,0,2011.2,2011.2
2,M,S,120.0,16,0,CS211,4,O,10.20,6,...,0.0,0.0,0.0,0.0,0.0,30.0,Regular,0,2011.2,2011.2
3,M,S,120.0,16,0,FG106,2,O,16.52,3,...,0.0,0.0,0.0,0.0,0.0,30.0,Regular,0,2011.2,2011.2
4,M,S,120.0,16,0,CS210,4,O,14.35,6,...,14.2,14.2,14.2,0.7,4.0,57.0,Separado,0,2011.2,2011.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26997,M,S,170.0,1,0,CS111,4,O,0.00,6,...,0.0,0.0,0.0,0.0,0.0,0.0,Separado,4,2020.6,2020.6
26998,M,S,170.0,1,0,MA100,5,O,0.82,6,...,0.0,0.0,0.0,0.0,0.0,0.0,Separado,4,2020.6,2020.6
26999,M,S,170.0,1,0,FG103,3,O,0.00,4,...,0.0,0.0,0.0,0.0,0.0,0.0,Separado,4,2020.6,2020.6
27000,M,S,170.0,1,0,FG102,3,O,0.00,4,...,0.0,0.0,0.0,0.0,0.0,0.0,Separado,4,2020.6,2020.6
27001,M,S,170.0,1,0,FG101,3,O,1.08,4,...,0.0,0.0,0.0,0.0,0.0,0.0,Separado,4,2020.6,2020.6

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27002 entries, 0 to 27001
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SEXO                            27002 non-null  object
 1   ESTADO_CIVIL                    27002 non-null  object
 2   PTJE_INGRESO                    27002 non-null  float64
 3   SEM_CURSADOS                    27002 non-null  int64
 4   CANT_RESERVAS                   27002 non-null  int64
 5   COD_CURSO                       27002 non-null  object
 6   CREDITOS                        27002 non-null  int64
 7   TIPO_CURSO                      27002 non-null  object
 8   NOTA                            27002 non-null  float64
 9   HRS_CURSO                       27002 non-null  int64
 10  PONDERADO                       27002 non-null  float64
 11  BECA_VIGENTE                    27002 non-null  int64
 12  FECHA_NACIMIENTO                27002 non-null  object
 13  POBREZA_RES                     27002 non-null  float64
 14  POBREZA_PRO                     27002 non-null  float64
 15  TIPO_CICLO                      27002 non-null  object
 16  SEM                             27002 non-null  int64
 17  NIVEL_CURSO                     27002 non-null  int64
 18  FAMILIA                         27002 non-null  object
 19  CODIGO_y                        27002 non-null  object
 20  CLUSTER_CURSO                   27002 non-null  int32
 21  PROM_POND_HIST                  27002 non-null  float64
 22  NOTA_MAX_HIST                   27002 non-null  float64
 23  NOTA_MIN_HIST                   27002 non-null  float64
 24  NOTA_MEDIAN_HIST                27002 non-null  float64
 25  NOTA_Q1_HIST                    27002 non-null  float64
 26  NOTA_Q3_HIST                    27002 non-null  float64
 27  ASIST_PROM_HIST                 27002 non-null  float64
 28  CRED_APROB_HIST                 27002 non-null  int64
 29  PROM_POND_CLUSTER_HIST          27002 non-null  float64
 30  NOTA_MAX_CLUSTER_HIST           27002 non-null  float64
 31  NOTA_MIN_CLUSTER_HIST           27002 non-null  float64
 32  NOTA_MEDIAN_CLUSTER_HIST        27002 non-null  float64
 33  NOTA_Q1_CLUSTER_HIST            27002 non-null  float64
 34  NOTA_Q3_CLUSTER_HIST            27002 non-null  float64
 35  ASIST_PROM_CLUSTER_HIST         27002 non-null  float64
 36  CRED_APROB_CLUSTER_HIST         27002 non-null  float64
 37  HRS_INASISTENCIA_ACUM_PASADO_y  27002 non-null  float64
 38  ESTADO_PASADO                   27002 non-null  object
 39  TIPO_COLEGIO_COD                27002 non-null  int64
 40  PER_INGRESO_NUM                 27002 non-null  float64
 41  PER_MATRICULA_NUM               27002 non-null  float64
dtypes: float64(23), int32(1), int64(9), object(9)
memory usage: 8.5+ MB

In [71]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Modelos
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

# === 1. Copia del dataframe original ===
df_model = df.copy()

# === 2. Codificar variables categóricas ===
cat_cols = df_model.select_dtypes(include=['object']).columns
label_encoders = {}

for col in cat_cols:
    le = LabelEncoder()
    df_model[col] = le.fit_transform(df_model[col])
    label_encoders[col] = le

print("Columnas codificadas:", list(cat_cols))

# === 3. Separar X e y ===
X = df_model.drop(columns=['NOTA'])
y = df_model['NOTA']

# === 4. Split train/test ===
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# === 5. Modelos ===
modelos = {
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(alpha=1.0),
    "Lasso": Lasso(alpha=0.001, max_iter=5000),
    "RandomForest": RandomForestRegressor(
        n_estimators=200, max_depth=10, random_state=42
    ),
    "GradientBoosting": GradientBoostingRegressor(
        n_estimators=300, learning_rate=0.05, max_depth=6, random_state=42
    ),
    "XGBoost": XGBRegressor(
        n_estimators=400, learning_rate=0.05, max_depth=6,
        subsample=0.8, colsample_bytree=0.8,
        objective="reg:squarederror", random_state=42
    ),
    "LightGBM": LGBMRegressor(
        n_estimators=400, learning_rate=0.05, max_depth=-1,
        subsample=0.8, colsample_bytree=0.8, random_state=42
    )
}

# === 6. Entrenar y evaluar ===
resultados = []

for nombre, modelo in modelos.items():
    modelo.fit(X_train, y_train)
    y_pred = modelo.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    
    resultados.append({
        "Modelo": nombre,
        "MAE": mae,
        "RMSE": rmse,
        "R2": r2
    })

# === 7. Mostrar resultados ===
df_resultados = pd.DataFrame(resultados).sort_values(by="R2", ascending=False)
print(df_resultados)

Columnas codificadas: ['SEXO', 'ESTADO_CIVIL', 'COD_CURSO', 'TIPO_CURSO', 'FECHA_NACIMIENTO', 'TIPO_CICLO', 'FAMILIA', 'CODIGO_y', 'ESTADO_PASADO']
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004597 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4949
[LightGBM] [Info] Number of data points in the train set: 21601, number of used features: 41
[LightGBM] [Info] Start training from score 11.853547
             Modelo       MAE      RMSE        R2
6          LightGBM  1.657002  2.316226  0.721790
4  GradientBoosting  1.673167  2.340051  0.716037
5           XGBoost  1.681416  2.355638  0.712242
3      RandomForest  1.743399  2.424037  0.695288
2             Lasso  1.938693  2.691970  0.624205
1             Ridge  1.939513  2.692457  0.624069
0  LinearRegression  1.939551  2.692470  0.624065

In [73]:
import pickle
import os


for nombre, modelo in modelos.items():
    ruta = f"../models/{nombre}.pkl"
    with open(ruta, "wb") as f:
        pickle.dump(modelo, f)
    print(f"✅ Modelo {nombre} exportado en {ruta}")

✅ Modelo LinearRegression exportado en ../models/LinearRegression.pkl
✅ Modelo Ridge exportado en ../models/Ridge.pkl
✅ Modelo Lasso exportado en ../models/Lasso.pkl
✅ Modelo RandomForest exportado en ../models/RandomForest.pkl
✅ Modelo GradientBoosting exportado en ../models/GradientBoosting.pkl
✅ Modelo XGBoost exportado en ../models/XGBoost.pkl
✅ Modelo LightGBM exportado en ../models/LightGBM.pkl